body {
    overflow: hidden;
}

.map { 
    position:absolute; 
    top:0; 
    bottom:10%;
    left:0;
    width:70%;
}

div.tabs-panel {
    position: absolute; 
    top:0; 
    right:0;
    width:30%; 
    height:90%;
    border-left: 1px solid grey;
    /*overflow: auto;*/
    /*background: #4a98d3;*/
}

div.control {
    position: absolute;
    top:90%;
    bottom:0;
    left:0;
    width:70%;
    padding:20px;
    border:1px solid grey;
    background:#d3d3d3;
}

.ui-control {
    background:black;
    position:absolute;
    top:90%;
    bottom:0;
    right:0px;
    width: 30%;
    z-index:100;
    color:#ffffff;
}

button.control-btn {
    padding:5px;
    margin-right: 10px;
    border-radius: 2px;
}
      
.blink_me {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}

/* pure popup css*/
div.info-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

div.info-overlay:target {
  visibility: visible;
  opacity: 1;
}

div.info-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}
.info-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.info-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.info-popup .close:hover {
  color: red;
}
.info-popup .content {
  max-height: 70%;
  overflow: auto;
}