body {
    overflow: hidden;
}

.map { 
    position:absolute; 
    top:0; 
    bottom:10%;
    left:0;
    width:90%;
}

div.filter {
    position: absolute; 
    top:0; 
    right:0;
    width:10%; 
    height:100%;
    border-left: 1px solid grey;
    background: lightblue;
}

div.control {
    position: absolute;
    top:90%;
    bottom:0;
    left:0;
    width:90%;
    padding:20px;
    border-top:1px solid grey;
    background:#d3d3d3;
}

.ui-control {
    background:black;
    position:absolute;
    bottom:0;
    right:0px;
    width: 10%;
    z-index:100;
    color:#ffffff;
}

button.control-btn {
    padding:5px;
    margin-right: 10px;
    border-radius: 2px;
}
      
.blink_me {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}
